<p>Breadcrumb Component</p>


<div class="wrapper">
<ul>
<LinkTo @route='home'><li>Home</li></LinkTo>
<li>Books<ul>
  {{#each @model.books as |record|}}
    <LinkTo @route='book' @model={{record}}><li>{{record.name}}</li></LinkTo>
  {{/each}}
</ul>
</li>
<li>Characters
<ul>
  {{#each @model.characters as |record|}}
    <LinkTo @route='character' @model={{record}}><li>{{record.name}}</li></LinkTo>
  {{/each}}
</ul>
</li>
<li>Houses
<ul>
 {{#each @model.houses as |record|}}
    <LinkTo @route='house' @model={{record}}><li>{{record.name}}</li></LinkTo>
  {{/each}}   
</ul>
</li>
</ul>
</div>
