<nav>
	<ul>
		<li><LinkTo @route='home'>Home</LinkTo></li>
    <li><LinkTo @route='books'>{{#if this.inHome}}Books{{else}}{{this.routeName}}{{/if}}</LinkTo>
      <ul>
          <li><LinkTo @route='books'>Books</LinkTo></li>
          <li><LinkTo @route='characters'>Characters</LinkTo></li>
          <li><LinkTo @route='houses'>Houses</LinkTo></li>
      </ul>
    </li>
    <li><LinkTo @route={{this.routeName}}>{{#if this.args.baseRoute}}Record{{else}}{{this.recordName}}{{/if}}</LinkTo>
    {{log 'baseRoute: ' this.args.baseRoute}}
      <ul> 
        {{#each this.recordData as |data|}}
        {{log 'breadcrumb data:' data}}
          {{log 'this.showBooks' this.showBooks}}
          {{#if this.showBooks}}
            <li><LinkTo @route='book' @model={{data.id}}>{{data.name}}</LinkTo></li>
          {{/if}}
          {{#if this.showCharacters}}
            <li><LinkTo @route='character' @model={{data.id}}>{{#if data.name}}{{data.name}}{{else}}{{data.aliases}}{{/if}}</LinkTo></li>
          {{/if}}
          {{#if this.showHouses}}
            <li><LinkTo @route='house' @model={{data.id}}>{{data.name}}</LinkTo></li>
          {{/if}}
        {{/each}}
      </ul> 
    </li>
	</ul>
</nav>