<h1>Book Page</h1>

<p>Name: {{this.model.name}}</p>
<p>Isbn: {{this.model.isbn}}</p>
<p>Number of Pages: {{this.model.numberOfPages}}</p>
<p>Released: {{this.model.released}}</p>
<p>Characters: </p>
<ul>
  {{#each this.model.characters as |person index|}}
    <LinkTo @route='character' @model={{this.model}}><li>Hello, {{person.name}}!</li></LinkTo>
  {{/each}}
</ul>