<Breadcrumb @model={{this.model}}/>
<h1>Books Page</h1>

{{#each this.model.books as |record|}}
    <LinkTo @route='book' @model={{record}}><li>Book title: {{record.name}}</li></LinkTo>
    <li>Author: {{record.authors}}</li>
    <li>Number of Pages: {{record.numberOfPages}}</li>
{{/each}}