<Breadcrumb @record={{this.model}} />

<h1>Book Page</h1>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
.fa{
	font-size:4em;
}
</style>
</head>
<body>
<i {{on "click" this.thumbsUpClicked}} id="thumbsUp" style="color:black" class="fa fa-thumbs-up"></i>
<i {{on "click" this.thumbsDownClicked}} id="thumbsDown" style="color:black" class="fa fa-thumbs-down"></i>
</body>

{{this.rating}}
<p>ID: {{this.id}}</p>
<p>Name: {{this.name}}</p>
<p>Isbn: {{this.isbn}}</p>
<p>Number of Pages: {{this.numberOfPages}}</p>
<p>Released: {{#if this.released}}{{this.released}}{{else}}Unknown{{/if}}</p>
<p>Characters: </p>
<ul>
  {{#each this.characters as |person index|}}
    <LinkTo @route='character' @model={{person.id}}><li>{{#if person.name}}{{person.name}}{{else}}{{person.aliases}}{{/if}}</li></LinkTo>
  {{/each}}
</ul>