<h1>Character Page</h1>

<li>Name: {{this.name}}</li>
<li>Culture: {{this.culture}}</li>
<li>Born: {{this.born}}</li>
<li>Died: {{this.died}}</li>
<li>Aliases: {{this.model.aliases}}</li>
<ul>Allegiances: </ul>
{{#each this.model.allegiances as |record|}}
  <LinkTo @route='house' @model={{record}}><li>{{record.name}}</li></LinkTo>
{{/each}}
<ul>Books:</ul>
{{#each this.model.books as |record|}}
  <LinkTo @route='book' @model={{record}}><li>{{record.name}}</li></LinkTo>
{{/each}}