<h1>Character Page</h1>

<li>Name: {{this.model.name}}</li>
<li>Culture: {{this.model.culture}}</li>
<li>Born: {{this.model.born}}</li>
<li>Died: {{this.model.died}}</li>
<li>Aliases: {{this.model.aliases}}</li>
<li>Allegiances: {{this.model.allegiances}}</li>
<li>Yooo:: {{this.allegiances}}</li>
<li>Swag: {{this.swag}} </li>