<Breadcrumb @model={{this.model}}/>

<h1>Home Screen</h1>

<li><LinkTo @model={{this.model}} @route='books'>Books</LinkTo></li>
<li><LinkTo @model={{this.model}} @route='characters'>All Characters</LinkTo></li>
<li><LinkTo @model={{this.model}} @route='houses'>All Houses</LinkTo></li>

{{#each this.model as |record|}}
    <li>{{record.name}}</li>
{{/each}}