<Breadcrumb @model={{this.model}}/>
<h1>House Page</h1>
{{log 'this.model: ' this.model}}
    <p>Name: {{this.model.name}}</p>
    <p>Region: {{this.model.region}}</p>
    <p>Coat of Arms: {{this.model.coatOfArms}}</p>
    <p>Words of the house: {{this.model.words}}</p>
    <p>Titles: {{this.model.titles}}</p>
    <p>Year founded: {{this.model.founded}}</p>
    <p>Year it died: {{this.model.diedOut}}</p>
    <LinkTo @route='character' @model={{this.model}}><p>Current lord's name: {{this.model.currentLord.name}}</p></LinkTo>

{{!-- swornMembers --}}
<p>Sworn Members:</p>
<ul>
  {{#each this.model.swornMembers as |person index|}}
    <li>Hello, {{person.name}}!</li>
  {{/each}}
</ul>