<Breadcrumb @record={{this.model}} />

<h1>House Page</h1>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
.fa{
	font-size:4em;
}
</style>
</head>
<body>
<i {{on "click" this.thumbsUpClicked}} id="thumbsUp" style="color:black" class="fa fa-thumbs-up"></i>
<i {{on "click" this.thumbsDownClicked}} id="thumbsDown" style="color:black" class="fa fa-thumbs-down"></i>
</body>

<p>{{this.rating}}</p>
<p>Name: {{this.name}}</p>
<p>Region: {{this.region}}</p>
<p>Coat of Arms: {{this.coatOfArms}}</p>
<p>Words of the house: {{this.words}}</p>
<p>Titles: {{this.titles}}</p>
<p>Year founded: {{this.founded}}</p>
<p>Year it died: {{this.diedOut}}</p>
{{#if this.currentLord}}
<p>Current lord's name:<LinkTo @route='character' @model={{this.model}}>{{this.currentLord}}</LinkTo>
</p>
{{else}}
<p>Current lord's name: Unknown</p>
{{/if}}

<p>Sworn Members:</p>
<ul>
  {{#each this.swornMembers as |person index|}}
  <li><LinkTo @route='character' @model={{this.model}}>{{person.name}}</LinkTo>
  </li>
  {{/each}}
</ul>